---
title: Cryptobeers -- by Cryptominded
---

<%= partial 'partials/home-hero' %>

<div class="wrapper-large">
	
	<div class="ta-center">
		<h3 class="fw-semibold">Upcoming events</h3>
	</div>

	<div class="events">

		<% page_articles.each_with_index do |article| %>
				<div class="events__card">
					<div class="image">
						<a href="<%= article.data.meetup_link %>">
							<img src="<%= lorem.image('320x220') %>">
							<div class="overlay"><button class="btn--secondary">RSVP</button></div>
						</a>
					</div>
					<div class="details">
						<span class="date"><%= article.date.strftime('%A, %e %B %Y') %></span> • <span class="city"><%= article.data.City %></span>
						<a href="<%= article.data.meetup_link %>"><h4><%= article.title %></h4></a>
						<%= article.body %>
						<span><strong>Organised by:</strong> <%= article.data.organised_by %></span>
					</div>
				</div>
		<% end %>
		
	</div>

</div>